.custom-card-background {
  background-color: white !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
  max-width: 300px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px;
}

.card-content {
  background-color: inherit;
}

.card-title {
  margin: 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 10px;
}

.card-text {
  color: #666;
  margin-top: 8px;
}

.input-group {
  padding: 5px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.button-left {
  display: flex;
  justify-content: right;
  align-items: end;
  padding: 5px;
}

.signin-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../src/assert/e-learning-platform-development.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.signin-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(8px);
  z-index: 1;
}

.card-container {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.dropdown {
  margin: 10px 0;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-right: 20px;
  position: relative;
}

.username {
  cursor: pointer;
  font-weight: bold;
}

.username-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
}

.dropdown-item:hover {
  background-color: #c2c2c2;
}

.logout-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logout-dropdown-item {
  padding: 10px;
  cursor: pointer;
  width: 100px;
  text-align: left;
  background: none;
  border: none;
}

.logout-dropdown-item:hover {
  background-color: #f1f1f1;
}

.logout-button {
  background-color: #e74c3c;
  border: none;
  color: #ffffff;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c0392b;
}

.course-card-container {
  display: grid;
  z-index: 2;
  grid-template-columns: repeat(4, 3fr);
  gap: 5px;
  padding: 5px;
  max-width: 1500px;
  margin: 60px;
}

.enroll-button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.enroll-button:hover {
  background-color: #218838;
}


/* Disabled button styling */
.enroll-button:disabled {
  background-color: #d6d6d6;
  /* Light gray */
  color: #a8a8a8;
  /* Darker gray text */
  cursor: not-allowed;
}

.enroll-button:disabled:hover {
  background-color: #d6d6d6;
  /* Ensure the background color remains unchanged */
}

/* .delete-button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
} */

.button-center .button {
  margin: 0 5px;
}

.title-container {
  margin: 5px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-image: url('../src/assert/e-learning-platform-development.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  filter: blur(2px);
  z-index: 1;
}

.page-container {
  background: linear-gradient(135deg, #ffffff 0%, #b4b0af 99%, #af9e99 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

.link-text {
  color: blue;
  cursor: pointer;
}

.link-text:hover {
  text-decoration: none;
}

.signup-options {
  background-color: #999999;
  color: #ffffff;
  margin: 5px;
}

.signup-options:hover {
  background-color: #757070;
  color: #ffffff;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popup-content {
  background: white;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  z-index: 2;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.popup-header h2 {
  margin: 0;
  z-index: 2;
}

.popup-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.popup-body {
  margin: 20px 0;
  z-index: 2;
}

.popup-footer {
  text-align: right;
  z-index: 2;
}

.popup-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 2;
}

.popup-button:hover {
  background: #0056b3;
  z-index: 2;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 1;
}

.textarea:focus {
  border-color: #007bff;
  outline: none;
}

.file-upload {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-label {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e1dddddc;
  cursor: pointer;
}

.file-label:hover {
  background-color: #e2e6ea;
}

.file-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.file-text {
  font-size: 16px;
}

.table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 25%;
  background-color: white;
}

.table th,
.table td {
  padding: 3px;
  text-align: center;
  background-color: #f2f2f2;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #afadad;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.alert-success {
  background-color: #4caf50;
}

.alert-error {
  background-color: #f44336;
}

.alert-warning {
  background-color: #ff9800;
}

.alert-info {
  background-color: #2196f3;
}

.alert-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.course-row {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 800px;
  margin: 16px auto;
  /* Centering the row */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.course-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-image {
  width: 150px;
  height: auto;
  margin-right: 16px;
  border-radius: 8px;
  object-fit: cover;
}

h2 {
  flex-grow: 1;
  margin: 0 16px;
  font-size: 1.5em;
}

.enrolled-count {
  cursor: pointer;
}

.student-list {
  border-top: 1px solid #ccc;
  padding-top: 8px;
  margin-top: 8px;
  padding-left: 16px;
}